In [4]:
2* 5
print(4/2)
print("hello")
"Goodbye"

2.0
hello

'Goodbye'

This is a note cell

In [5]:
# This is a variable:
my_name = "David"

In [6]:
my_name

'David'

In [7]:
print(my_name)

David

Variables can have numbers, letters, and underscores(_)

they cannot start with numbers!

In [8]:
23_and_me_account = "My account isn't created yet"

SyntaxError: invalid token (<ipython-input-8-16ae9226142f>, line 1)

In [12]:
_23_and_me_account = "My account isn't created yet"

In [10]:
_23_and_me_account = "https://23andme.com/profile/davidginzberg"

In [13]:
print(_23_and_me_account)

My account isn't created yet

In [14]:
type(_23_and_me_account)

str

In [15]:
type(3.14)

float

In [16]:
pi = 3.1415927
rounded_pi = round(pi, 2)
print(rounded_pi)

3.14

In [17]:
int_pi = int(pi)
int_pi

3

In [18]:
print(type(rounded_pi))
print(type(int_pi))

<class 'float'>
<class 'int'>

In [19]:
str(int_pi)

'3'

Sometimes you want text into numbers

In [20]:
num_as_string = "5.732"

In [21]:
type(num_as_string)

str

In [22]:
12 * num_as_string

'5.7325.7325.7325.7325.7325.7325.7325.7325.7325.7325.7325.732'

In [23]:
num_as_float = float(num_as_string)
print("Type of num_as_float:", type(num_as_float))
12 * num_as_float

Type of num_as_float: <class 'float'>

68.784

In [24]:
1.1 - 1.09

0.010000000000000009

Now let's try to get some input

In [25]:
name = input("What is your name?")

What is your name?Inigo Montoya

In [26]:
print(f"Is your name really {name}")

Is your name really Inigo Montoya

# This is a heading

*This is italic text*

^^^ All of this is markdown

### Let's ask for someones age and add ten to it and print the result. How do we do that?

In [27]:
age = input("How old are you foo?")
int(age)
print(age + 10)

How old are you foo?487

TypeError: must be str, not int

In [28]:
age_as_float = float(input("How old are you foo?"))
# int(age)
print(age_as_float + 10)

How old are you foo?2004
2014.0

In [29]:
# So what needs to change in that first one?
age = input("How old are you foo?")
age_as_int = int(age)
print(age_as_int + 10)

How old are you foo?1
11

We can also just convert right in the print like so:

In [30]:
print(int(age) + 10)

11

In [31]:
# We can also convert in the same variable

age = int(age)
age = age + 20
print(age)

21

In [32]:
age + 20 = age #this will be an error

SyntaxError: can't assign to operator (<ipython-input-32-47ff01bbd397>, line 1)

# In class assignment

Write a short program that asks someone their pet's name and breed and print both of those out in a sentence. Share this with a classmate and have them try running the program.

#### Use the remainder of class time for the lab we missed yesterday